<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Search Panel </title>
        <link rel="stylesheet" href="static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>

  <body>

<div class="container">
    <div style="text-align:center;"><p id="title">Jukebox</p></div>
    <input placeholder="URL..." name="song" type="text" value=""/>
</div>

<br>
<br>
<br>


<div id="list2" style="margin-left:auto;margin-right:auto;">
   <ol>
       {% for youtube in youtube_queue %}
       <li><p><em>
            <a href="{{ youtube.url }}">{{ youtube.title }}</a></li>
       </em></p></li>

       {% endfor %}

   </ol>
</div>
    
        <script src="static/js/index.js"></script>
    
    
  </body>
</html>
